#column {
    position: absolute;
    float: left;
    width: 50%;
    top: 120px;
    padding-top: 1000px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
}

#row:after {
    content: "";
    display: table;
    clar: both;
}



